body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.counter{
  margin-top: 50px;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #fdfcfb 0%, #e2d1c3 100%);
}
.btns{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}